.content p:not(:last-child) {
  margin-bottom: 0px;
}

.js-modal-trigger {
  font-size: 1.2em;
  font-weight: 500;
}

.js-modal-trigger:hover {
  background-color: lightseagreen;
  color: aliceblue;
  transition-duration: 400ms;
  cursor: pointer;
} 

.modal-card-title {
  font-size: 1.5em;
  font-weight: 500;
}

.modal-card-title:hover {
  background-color: lightseagreen;
  color: aliceblue;
  transition-duration: 400ms;
  cursor: pointer;
}

.dropdown-item {
  font-size: 1.2em;
  font-weight: 500;
  background-color: aliceblue;
  border: 1px solid lightseagreen;
}

.dropdown-item:hover {
  background-color: lightseagreen;
  color: aliceblue;
  transition-duration: 400ms;
  cursor: pointer;
}

.hidden {
  display: none;
}