.content p:not(:last-child) {
  margin-bottom: 0px;
}

.js-modal-trigger {
  font-size: 1.2em;
  font-weight: 500;
}

.js-modal-trigger:hover {
  background-color: lightseagreen;
  color: aliceblue;
  transition-duration: 400ms;
  cursor: pointer;
}

.modal-card-title {
  font-size: 1.5em;
  font-weight: 500;
}

.modal-card-title:hover {
  background-color: lightseagreen;
  color: aliceblue;
  transition-duration: 400ms;
  cursor: pointer;
}

.dropdown-item {
  font-size: 1.2em;
  font-weight: 500;
  background-color: aliceblue;
  border: 1px solid lightseagreen;
}

.dropdown-item:hover {
  background-color: lightseagreen;
  color: aliceblue;
  transition-duration: 400ms;
  cursor: pointer;
}

.column-heading {
  font-weight: bold;
  font-size: 1.3em;
  background-color: teal;
  color: white;
  padding: 5.9px 0px 5.9px 4%;
  border-radius: 3px 3px 0px 0px;
}

.hidden {
  display: none;
}

.on-load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}